
html,body {
    padding: 0;
    height: 100%;
    margin: 0px;
    overflow: 'auto';
}
.body
    {
      
        flex-grow: 1;
        flex-basis: 50%;
         text-align: center; 
        padding: 60px;
        /* background-image: url("myfigure.jpg");    */
    }
    .center {
        margin: auto;
        width: 50%;
        border: 3px solid green;
        padding: 10px;
      }
      .content 
        {
            border-radius: 5px;
            background-color: rgba(76, 175, 80, 0.3);
            padding: 10px;
            width:100%;
            font-size: 16px;
            margin-bottom: 20px;
            text-align: left;
        }
      

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}



nav { 
    padding: 10px;
}
body > section {
    flex: 1 1 auto;
    flex-direction: row;
    height: 100%;
    display: grid;
    justify-content: top;
}
section > main {
    flex-grow: 1;
    flex-basis: 100%;
    text-align: center;
    padding: 20px;
    background-image: url("myfigure.jpg");
}
button {
    background-color: #4CAF50;
    border: none;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
article {
    border-radius: 5px;
    background-color: rgba(76, 175, 80, 0.3);
    padding: 20px;
    margin-bottom: 20px;
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;

}
ul li {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }

header,
body > section,
main article {
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.section {
    flex-grow: .5;
    flex-basis: 50%;
    width:50%;
    /* text-align: center; */
    padding: 100px 20px 100px 20px;
    /* background-image: url("myfigure.jpg");    */
}
.image {
    display: flex;
    background-image: url("myfigure.jpg");   
}
.imageOnly{
    background-image: url("myfigure.jpg");
}
input {
    width: 100%;
    padding: 10px 10px; 
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  #first {
      padding:210px 200px 260px 100px;
      background-image: url("myfigure.jpg");
}


#footer {
	background: #99bbff;
    height: 50px;
    clear: both;
}
